process {
    withName:fastp {
        container = "bromberglab/fastp:latest"
    }

    withName:RGI_FASTA {
        container = "cimendes/card_rgi:latest"
    }

    withName:PROCESS_RGI_HEATMAP {
        container = "cimendes/card_rgi:latest"
    }

    withName:fasterqDump {
        container = "flowcraft/sra-tools:2.9.6-1"
    }

    withName: RGI_BWT {
        container = "cimendes/card_rgi:latest"
    }
}