process {
    withName:fastp {
        container = "bromberglab/fastp:latest"
    }

    withName:RGI_FASTA {
        container = "cimendes/card_rgi:latest"
    }

    withName:PROCESS_RGI_HEATMAP {
        container = "cimendes/card_rgi:latest"
    }

    withName:PROCESS_RGI_FASTA {
        container = "cimendes/card_rgi:latest"
    }

    withName:fasterqDump {
        container = "flowcraft/sra-tools:2.9.6-1"
    }

    withName: RGI_BWT {
        container = "cimendes/card_rgi:latest"
    }

    withName: REPORT {
        container = "jupyter/base-notebook:python-3.8.6"
    }

    withName: inliner {
    container = "loadthefalaina/inliner:2.13.1"
  }
}