process {
    withName: fasterqDump {
        cpus = 4
    }
    withName: fastp {
        cpus = 4
        memory = '4GB'
    }
    withName: RGI_FASTA{
        cpus = 2
        memory = '4GB'
    }
    withName: PROCESS_RGI_HEATMAP{
        cpus = 2
        memory = '4GB'
    }
    withName: RGI_BWT{
        cpus = 4
        memory = '8GB'
    }
}