biopython==1.72
brotlipy==0.7.0
certifi==2020.11.8
cffi 
chardet 
cryptography 
cycler==0.10.0
filetype==1.0.7
idna 
kiwisolver 
matplotlib 
numpy 
olefile 
pandas
patsy==0.5.1
Pillow 
pretty-html-table==0.9.dev0
pyahocorasick==1.4.0
pycosat==0.6.3
pycparser 
pyfaidx 
pyOpenSSL 
pyparsing==2.4.7
PySocks 
python-dateutil==2.8.1
pytz 
requests 
ruamel-yaml==0.15.87
scipy 
seaborn
plotly
six 
statsmodels 
tornado 
tqdm==4.42.1
urllib3 
