
<!DOCTYPE html>
<html>
<title>RGI-nf Report</title>
<head><meta charset="utf-8" />
</head>
<body>

<div>
<h1 style='text-align: center' id="RGI-nf-Report">RGI-nf Report<a class="anchor-link" href="#RGI-nf-Report">&#182;</a></h1>
<p>RGI-nf integrates <a href="https://github.com/arpcard/rgi">The Resistance Gene Identifier (RGI)</a> package to to predict resistome(s) from nucleotide data based on homology and SNP models. The application uses reference data from the <a href="https://card.mcmaster.ca/">Comprehensive Antibiotic Resistance Database (CARD)</a>.</p>
</div>

<div>
<h2 id="Results-Summary">Results Summary<a class="anchor-link" href="#Results-Summary">&#182;</a></h2>
<p style='text-align: center'><table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Sample</th>
      <th>Perfect</th>
      <th>Strict</th>
      <th>Loose</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>GCF_902827215.1_SB5881_genomic</td>
      <td>2</td>
      <td>23</td>
      <td>425</td>
    </tr>
    <tr>
      <th>1</th>
      <td>GCF_000662585.1</td>
      <td>4</td>
      <td>9</td>
      <td>155</td>
    </tr>
  </tbody>
</table></p>
</div>

<div>
<h3 id="Drug-Class">Drug Class<a class="anchor-link" href="#Drug-Class">&#182;</a></h3>
<p>AMR genes categorised by Drug Class. Yellow represents a perfect hit, teal represents a strict hit, purple represents no hit.
</p>
</div>

<div>
<h3 id="Resistance-Mechanism">Resistance Mechanism<a class="anchor-link" href="#Resistance-Mechanism">&#182;</a></h3>
<p>AMR genes categorised by Resistance Mechanism. Yellow represents a perfect hit, teal represents a strict hit, purple represents no hit.
</p>
</div>

<div>
<h3 id="Gene-Family">Gene Family<a class="anchor-link" href="#Gene-Family">&#182;</a></h3>
<p>AMR genes categorised by Resistance Mechanism. Yellow represents a perfect hit, teal represents a strict hit, purple represents no hit.
</p>
</div>

</body>
</html>
